<h1>add to your diary</h1>
<form method="GET" action="/">
	<input type="text" name="title">
	<input type="text" name="date">
	<textarea id="art-input" type="text" name="art"></textarea>
	<input type="text" name="tag" placeholder="separated by space">
	<input type="submit">
</form>
