<h3>add to your diary</h3>
<form method="GET" action="/">
	Title: <input type="text" name="title">
	Date: <input type="text" name="date">
	Art: <textarea id="art-input" type="text" name="art"></textarea>
	Tags: <input type="text" name="tag" placeholder="separated by space">
	<input class="submit" type="submit">
</form>
