<!DOCTYPE html>
<head>
  <title>Ascii Diary</title>
  <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
  <link rel="stylesheet" href="css/base.css">
</head>
<body>
  <header>
    <img id="logo1" class="logo" src="img/logo.png">
    <h1 id="title">ascii diary</h1>
    <img id="logo2" class="logo" src="img/logo.png">
    <div id="btns">
      <button id="home-btn" onclick="window.location.href='/'">home</button>
      <button id="add-btn" onclick="window.location.href='/add'">add</button>
      <h5>by elizabeth ha &#x3c;3 </h5>
    </div>
  </header>
    <br>
		{{{ body }}}
</body>
</html>
