body {
  font-family: 'Chakra Petch', sans-serif;
  white-space: pre;
}
header {
  height: 145px;
  border-bottom: 1px dotted black;
  text-align: center;
}
.logo {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 35px;
}
#title {
  padding: 40px 0 0;
  margin: 0;
}
#logo1 {
  left: 300px;
  transform: scaleX(-1);
}
#logo2 {
  right: 300px;
}
